* {
  font-family: "Caveat", cursive;
  font-weight: bold;
}

.app-card {
  width: 50%;
  /* border: 1px solid green; */
  margin: auto;
  padding: 10px;
  font-size: 1.5em;
}

.jumbotron {
  margin: auto;
  padding: 10px;
  width: 69%;
  background-color: none;
  background: none;
}

body {
  background-image: url("https://images.unsplash.com/photo-1563257964-17730e11e49e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  /* background-image: url("https://images.unsplash.com/photo-1561299593-7633f311838a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); */
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

span {
  font-size: 2em;
  font-weight: 700;
}

p {
  color: rgb(0, 0, 0);
  /* width: 100%; */
}
